* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth; /*VUELVE MÁS SUAVE EL DESPLAZAMIENTO DEL SCROLL*/
}
html,
body {
   margin: 0;
   padding: 0;
   padding-right: 0 !important;
   overflow-x: hidden; /* Previene el scroll horizontal */
   scroll-behavior: smooth;
}

/** Definiendo variables*/
:root {
   --var-font-h2: clamp(1.5rem, 3vw, 5rem);
   --var-font-p: clamp(0.9rem, 2vw, 1rem);
   --var-bc-trans: transparent;
}

body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background: linear-gradient(
      180deg,
      #1b2a49 0%,
      #7065b6 80%,
      #590094 100%
   ); /*Opción: Neón con toques púrpuras y verdes
    */
}

/** ------------- Seccion productos en oferta ---------------*/
/* Contenedor de toda la seccion*/
.wraper {
   background-color: var(--var-bc-trans);
   gap: 2rem;
   min-height: 70dvh;
   padding: 0;
   width: 100%;

   .carousel-inner {
      width: 100%;
      border-radius: 10px;
   }

   .carousel-item {
      background: linear-gradient(#1b2a49 0%, #48266a 80%, transparent 100%);
      height: 86vh;
      padding-top: 2rem;
      padding: 5rem;
      position: relative;
   }

   .hero-item {
      display: flex;

      img {
         object-fit: contain;
         max-width: 50%;
         flex: 0 0 auto;
         aspect-ratio: 3/2;
      }
   }
}

/* Contenedor de la seccion de informacion de productos*/
.info_products {
   background-color: inherit;
   border-radius: 10px;
   color: white;
   flex: 1 0 30%;
   padding: 0.5rem 1.2em;
   width: clamp(300px, 50%, 600px);

   h2 {
      font-size: var(--var-font-h2);
      color: #f2f2f2;
      text-shadow: 1px 1px 4px #b0d5f1;
   }
}

/* Informacion basica de la oferta*/
.info_products p {
   font-size: var(--var-font-p);
   color: #d1d1d1;
}

/* Contenedor informacion de descuento*/
.info_desc {
   background-color: inherit;
   margin-top: 2rem;
   max-width: min-content;
   padding: 0.5rem 0rem;

   .info_mas {
      margin-top: 0.3rem;
      margin-right: 0.2rem;

      a {
         border-radius: 4px;
         border: 1px solid rgba(196, 196, 196, 0.333);
         color: #d1d1d1;
         font-size: 0.6rem;
         padding: 0.1rem 0.5rem;
         text-decoration: none;

         &:hover {
            font-size: 0.7rem;
            box-shadow: 0px 0px 5px 0 rgba(255, 254, 254, 0.5);
         }
      }
   }

   > p {
      font-size: small;
      margin-bottom: 0rem;
      color: #d1d1d1;
   }
}

/*Contenedor cantidad de descuento*/
.cant_desc {
   background-color: inherit;
   margin-bottom: 8px;

   div {
      display: flex;
      align-items: center;

      p {
         margin-bottom: 0;
         font-size: var(--var-font-p);
         color: #f9e5ac;
         background-color: rgba(
            255,
            255,
            255,
            0.1
         ); /* Fondo ligeramente transparente */
         padding: 5px 10px;
         border-radius: 5px;
      }

      span {
         font-size: 0.6rem;
         margin-left: 0.5rem;
         background-color: #f00;
         color: #fff;
         padding: 2px;
         border-radius: 5px;
      }

      > p {
         text-decoration: line-through;
         color: #f9e5ac88;
         font-size: 0.9rem;
      }
   }
}

/** Seccion Productos mas vendidos */
.products-gallery {
   background-color: var(--var-bc-trans);
   color: #fff;
   min-height: 100dvh;
   display: flex;
   justify-content: space-evenly;
   flex-direction: column;
   text-align: center;

   > h2 {
      font-size: var(--var-font-h2);
      padding: 2rem;
      margin-bottom: 1rem;
      filter: drop-shadow(0px 0px 2px #28e);
      text-transform: uppercase;
   }
}
/*---------------contenedor productos------------------*/
.products-container {
   display: grid;
   grid-template-columns: repeat(
      auto-fill,
      minmax(300px, 1fr)
   ); /* Ajuste de columnas para que se adapten al tamaño */
   /* grid-auto-rows: 250px; */
   max-width: 1300px;
   margin: auto;
   width: 100%;
   gap: 16px;
   padding: 12px;
   min-height: auto;

   .gallery_product:first-child {
      grid-column: span 2;
      grid-row: span 2;
   }

   .gallery_product:last-child {
      grid-column: span 4;
      grid-row: span 2;
   }
}
/*---------------Gallery product general----------------*/

.gallery_product {
   align-items: center;
   background-image: linear-gradient(#0008, #000a);
   border-radius: 10px;
   cursor: default;
   display: flex;
   justify-content: center;
   opacity: 0.8;
   overflow: clip;
   position: relative;
   transition: transform 0.3s ease;

   img {
      aspect-ratio: 1;
      object-fit: contain;
      transition: transform 0.3s ease;
      width: 70%;
   }

   .details {
      align-items: flex-start;
      backdrop-filter: blur(14px);
      background-color: #0f172a73;
      bottom: 0;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      left: 0;
      opacity: 0;
      overflow: clip;
      padding: 1.5rem;
      position: absolute;
      transition: opacity 0.3s ease;
      width: 100%;

      h2 {
         text-align: start;
         font-size: x-large;
         padding-bottom: 1rem;
      }

      p {
         text-align: start;
         font-size: small;
      }

      srtong {
         font-size: large;
      }
   }
}

.gallery_product:hover {
   transform: scale(1.02); /* Aumenta el tamaño del producto en un 10% */
   background-image: linear-gradient(#0002, #0004, #fff2);

   img {
      transform: scale(0.9);
   }

   .details {
      opacity: 1;
   }
}

/*? ----------- MEDIA QUERIES ------------*/

/* Ajuste para pantallas grandes de 1800px en adelante */
@media (min-width: 1800px) {
   .carrusel {
      width: 1250px; /* Forzar el ancho máximo a 1500px en pantallas de 1800px o más */
   }
}
/* Ajuste para pantallas medianas (1200px a 1799px) */
@media (max-width: 1799px) and (min-width: 1200px) {
   .carrusel {
      width: 800px; /* Ajuste para pantallas medianas, mantiene el ancho en 1200px */
   }
}

@media screen and (width < 1200px) {
   .wraper {
      min-height: 50dvh;
   }

   .products-gallery {
      min-height: auto;
   }

   .hero-item {
      flex-direction: row-reverse;
   }
}

/** Media queries - Carrusel */
@media (width > 768px) and (width < 992px) {
   .carrusel {
      height: auto;
   }
}

@media (width < 768px) {
   .wraper {
      gap: 1.5rem;
   }

   .carrusel {
      height: auto;
   }
}

@media (width < 500px) {
   .info_products {
      > p {
         text-align: center;
      }

      p {
         margin: 0;
      }

      h2 {
         text-align: center;
      }

      .info_desc {
         margin-inline: auto;
         display: flex;
         flex-direction: column;
         align-items: center;
         margin-top: 1rem;

         a,
         p {
            text-align: center;
            margin: 0;
         }

         .cant_desc > div {
            flex-direction: column-reverse;
            gap: 0.5rem;
         }
      }
   }

   .hero-item {
      flex-direction: column;
      align-items: center;
   }
}
