/** ---------- Barra de Navegación ---------- */
.navbar {
   background-color: #171717;
   padding: 1rem;
   padding-left: 0;
}

.navbar-collapse {
   align-items: center;
   justify-content: space-between;
}

/** ---------- Efecto linea para links del nav ---------- */
.nav-link {
   position: relative;
   text-decoration: none;
   color: #fff;
   transition: color 0.3s ease-in;
}

.nav-link:hover {
   color: #ffd700;
}

.nav-link::after {
   content: '';
   position: absolute;
   width: 0;
   height: 2px;
   /* Color de la línea de subrayado */
   background: #ffd700;
   left: 0;
   bottom: 0;
   /* Transición suave de 0.3s */
   transition: width 0.3s ease;
}

.nav-link:hover::after {
   /* Al hacer hover, la línea subrayada aparece */
   width: 100%;
}

/* Desactivando Focus de BT */
.nav-link:focus {
   color: #ffd700;
}

/** ---------- Icono de la pagina ---------- */
.container_lc1 {
   background-color: transparent;
   margin: 0.5em 1rem;
}

.lc1 {
   width: auto;
   height: 40px;
   object-fit: contain;
   aspect-ratio: 16/9;
}

/** ---------------- Modificando el boton del menu de navegacion ---------------- */
.navbar-toggler {
   border-color: #fff;
   /* Cambia el color del borde del botón a blanco */
}

.navbar-toggler-icon {
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
   /* Cambia el color del ícono de hamburguesa a blanco (#fff) */
}

/** ------------ Modificando el boton de buscar ------------ */
.nav-btn {
   margin-inline: 0.5rem;
   &:hover svg {
      stroke: black;
   }

   svg {
      stroke: #fff;
      height: 1.5rem;
   }
}

.toggle-login-btn {
   svg {
      padding: 0.2rem;
   }
}

.session-options {
   display: none;
   position: relative;
   margin-inline: 0.5rem;

   svg {
      stroke: #fff;
      height: 1.5rem;
      transition: stroke 0.3s ease;
   }

   > div {
      align-items: flex-end;
      background-color: #262626;
      border-radius: 1rem;
      color: white;
      display: flex;
      flex-direction: column;
      font-size: small;
      gap: 0.5rem;
      position: absolute;
      right: 0;
      top: 100%;
      transform-origin: top right;
      transform: scale(0);
      transition: transform 0.3s ease;
      width: 10rem;
      z-index: 10;

      > p {
         text-transform: capitalize;
         cursor: default;
         font-size: medium;
         border-bottom: 1px solid #3f3f46;
         margin: 0;
         padding-bottom: 0.5rem;
         text-align: end;
         width: 100%;
      }

      button {
         align-items: center;
         background-color: inherit;
         border: none;
         color: white;
         display: flex;
         gap: 0.5rem;

         p {
            margin: 0;
         }

         &:hover {
            svg {
               stroke: #dc2626;
            }
         }
      }
   }

   &:hover {
      > span > svg {
         stroke: #1a1a1a;
      }

      > div {
         transform: scale(1);
         padding: 1rem 1.5rem;
      }
   }
}

/** Login modal **/
.modal {
   padding-right: 0 !important;
}

.modal-header {
   position: relative;

   h1 {
      margin-inline: auto;
   }

   button {
      margin: 0 !important;
   }

   .btn-close {
      position: absolute;
      top: 1rem;
      right: 1rem;
   }
}

.modal-body {
   padding: 1rem 4rem;
   form {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      label {
         display: flex;
         flex-direction: column;
         gap: 0.5rem;

         input {
            border-radius: 1rem;
            border: 1px solid;
            outline: none;
            padding: 0.5rem 1rem;
         }
      }
   }
}

.modal-footer {
   display: grid;
   place-content: center;
   border: none;
   margin-bottom: 1rem;

   .form-btn {
      background-color: #581c87;
      border-radius: 4rem;
      border: none;
      color: white;
      font-size: large;
      font-weight: 500;
      margin-inline: auto;
      outline: none;
      padding: 0.5rem;
      transition: opacity 0.3s ease;
      width: 12rem;

      &:hover {
         opacity: 0.8;
      }
   }

   span button {
      background-color: transparent;
      border: none;
      outline: none;
      color: #1e40af;
      cursor: pointer;

      &:hover {
         text-decoration: underline;
      }
   }
}
